@import '../../styles/utils/variables';
@import '../../styles/utils/functions';
@import '../../styles/utils/mixins';

:host {
  flex: 1;
  background: resolve('img/game/game-center-background.png') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  max-width: 100%;
  height: auto;
}

ul.game-menu {
  @include type-setting(2);
  margin: 0;
  padding: 0;
  list-style: none;
  width: 90%;
  max-width: 500px;
  user-select: none;
}

li.game {
  display: flex;
  align-items: center;
  margin-bottom: $base-line-height;

  img {
    width: 10%;
    height: auto;
    margin-right: 1rem;
    cursor: pointer;
  }

  .name {
    font-weight: 800;
    cursor: pointer;
  }
}
