@import '../../../styles/utils/variables';
@import '../../../styles/utils/functions';
@import '../../../styles/utils/mixins';

@import url('https://fonts.googleapis.com/css?family=Baloo');

:host {
  flex: 1;
  background: resolve('img/game/game-center-background.png') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  max-width: 100%;
  height: auto;
}

.game-menu {
  @include type-setting(3);

  @include respond-to(medium) {
    @include type-setting(4);
  }

  width: 90%;
  max-width: 500px;
  user-select: none;
  font-family: 'Baloo', cursive, sans-serif;
}
